.wd-xl{
	width: 400px;
}
.mt-xl {
    margin-top: 100px !important;
}

/*
.wrapper {
    background: rgba(0, 0, 0, 0) url("/assets/img/bac5.jpg") repeat scroll 0 0 / cover ;
   	content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}*/