<div class="content-heading">Farms List
	<small></small>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6"><button (click)="goBack()" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-arrow-left" _ngcontent-c49=""></i></span>Back</button></div>
			<div class="col-md-6"><a routerLink="/formgroup/newfarm" class="btn btn-info pull-right"> New Farm <i class="fa fa-arrow-right"></i></a></div>
		</div>
	</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Farm Type</th>
					<th>Farm Name</th>
					<th>Farm Size</th>
					<th>Contact Person</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Address</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hansen</td>
					<td>Leonel</td>
					<td>Leonel</td>
					<td>Leonel</td>
					<td>Leonel</td>
					<td>Leonel</td>
					<td>Leonel</td>
					<td><a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-pencil"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>