<div class="home-container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>MiDitalLife</h3></div>
                <div class="panel-body">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit non est velit quibusdam omnis deleniti earum sapiente dolorum eveniet ratione nulla impedit, consectetur, quia excepturi blanditiis a, cupiditate saepe? 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Community Chest</h3></div>
                <div class="panel-body">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit non est velit quibusdam omnis deleniti earum sapiente dolorum eveniet ratione nulla impedit, consectetur, quia excepturi blanditiis a, cupiditate saepe? 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Spazalogix</h3></div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit non est velit quibusdam omnis deleniti earum sapiente dolorum eveniet ratione nulla impedit, consectetur, quia excepturi blanditiis a, cupiditate saepe? 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Abalimi</h3></div>
                <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit non est velit quibusdam omnis deleniti earum sapiente dolorum eveniet ratione nulla impedit, consectetur, quia excepturi blanditiis a, cupiditate saepe?   
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Tutonic</h3></div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit non est velit quibusdam omnis deleniti earum sapiente dolorum eveniet ratione nulla impedit, consectetur, quia excepturi blanditiis a, cupiditate saepe? 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Editor</h3></div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugit non est velit quibusdam omnis deleniti earum sapiente dolorum eveniet ratione nulla impedit, consectetur, quia excepturi blanditiis a, cupiditate saepe? 
                </div>
            </div>
        </div>
    </div>
</div>