<div class="content-heading">
	New Contact
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6" style="width:1035px;margin-left:20px"><button (click)="goBack()" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-arrow-left" _ngcontent-c49=""></i></span>Back</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
				<label for="shortname">Contact Name</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label for="shortname">Phone</label>
				<input class="form-control"/>
			</div> 
			<div class="form-group">
				<label for="shortname">Cell</label>
				<input class="form-control"/>
			</div> 
			<div class="form-group">
				<label for="shortname">Email</label>
				<input class="form-control"/>
			</div>
			<div class="form-group">
				<label for="identitynumber">Skype</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
