<ul class="nav nav-justified nav-tabs panel-heading" ng-reflect-klass="nav" ng-reflect-ng-class="[object Object]">    
    
    <li class="nav-item" [routerLinkActive]="['active']" ng-reflect-ng-class="nav-item,">
        <a class="nav-link" routerLink="/formcomponents/products">
            <span ng-reflect-ng-transclude="[object Object]"></span>Products
        </a>
    </li> 

    <li class="nav-item " [routerLinkActive]="['active']" ng-reflect-ng-class="nav-item,">
        <a class="nav-link" routerLink="/formcomponents/questions">
        <span ng-reflect-ng-transclude="[object Object]"></span>Questions
        </a> 
    </li>

    <li class="nav-item" [routerLinkActive]="['active']" ng-reflect-ng-class="nav-item,">
        <a class="nav-link" routerLink="/formcomponents/datatype">
        <span ng-reflect-ng-transclude="[object Object]"></span>Data Type
        </a>
    </li>
</ul> 