<form [formGroup]="productForm" (submit)="submitForm($event, productForm.value)" novalidate="" autocomplete="off" role="form">
	
	<div class="form-group">
	<label for="datatype">Client</label>
		<select class="form-control" formControlName="client_id" >
			<option value="">select a client---</option>
			<option *ngFor="let client of data" value="{{client.uuid}}">{{client.short_name}} </option>
		</select>
		<small class="text-danger" *ngIf="productForm.controls['client_id'].hasError('required') && (productForm.controls['client_id'].dirty || productForm.controls['client_id'].touched)"><i>Data Type is required field.</i></small>
	</div>
	<div class="form-group">
		<label for="datatype">Name</label>
		<input type="text" class="form-control" formControlName="name"/>
		<small class="text-danger" *ngIf="productForm.controls['name'].hasError('required') && (productForm.controls['name'].dirty || productForm.controls['name'].touched)"><i>Name is required field.</i></small>
	</div>

	<div class="form-group">
		<label for="datatype">Description</label>
		<textarea  rows="2" class="form-control" formControlName="description"></textarea>
	</div>
	<div class="form-group">
		<button [disabled]="!productForm.valid" class="button btn btn-primary btn-outline">
			Save
		</button>
	</div>
</form>