<div class="content-heading">Products
    <small></small>
</div>

<div class="panel panel-primary">
       <div class="panel-heading">
            <mdl-tabnav></mdl-tabnav>
       </div>
    <div class="panel-body">
    	<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>User Created</th>
					<th>Date Created</th>
					<th><a href="" class="btn btn-info">New Product</a></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hell dos Santos</td>
					<td>Male</td>
					<td>122343</td>
					<td>
					<a href="" class="btn btn-default bg-gray-lighter tbn-xs" [tooltip]="'Show'" placement="left"><span class="icon-eye"></span></a>
					<a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-pencil" [tooltip]="'Edit'" placement="top"></span></a>
					<a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-trash" [tooltip]="'Delete'" placement="right"></span></a>
					</td>
				</tr> 
			</tbody>
		</table>
    </div>
</div>
