<div class="content-heading">Address
	<small></small>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6"><button (click)="goBack()" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-arrow-left" _ngcontent-c49=""></i></span>Back</button></div>
			<div class="col-md-6"><a routerLink="/formgroup/newaddress" class="btn btn-info pull-right"> New Address <i class="fa fa-arrow-right"></i></a></div>
		</div>
	</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Country</th>
					<th>Province</th>
					<th>City</th>
					<th>Address</th>
					<th>Postal Code</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>South Africa</td>
					<td>Western Cape</td>
					<td>Cape Town</td>
					<td>Water front</td>
					<td>1234</td>
					<td>
						<a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-pencil"></span></a>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>