<div class="content-heading">
    <span class="icon-layers"></span>	NGOS
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
            <div class="mb-lg clearfix col-xs-6">

              <div class="pull-let wd-md">
               <input  placeholder="Type your search here" class="form-control" [(ngModel)]="filterQuery" />
           </div>
       </div>
       <div class="col-xs-2">
        <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
        </select>
    </div>
    <div class="col-xs-4">
        <div class="col-xs-6">
            <div class="row">
             <select class="form-control input-sm" [(ngModel)]="sortOrder">
                <option ngValue="asc">Ascending</option>
                <option ngValue="desc">Descending</option>
                <option ngValue="badValue">Bad value</option>
            </select>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="pull-right text-muted">
             <a href="#" class="alert alert-danger" [routerLink]="'/cchest/create-ngo'">New NGO</a>
         </div>

     </div>
 </div>
</div>
</div>
</div>
<div class="panel-body">
  <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
  [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
  <thead>
    <tr>
    <th>Logo</th>
       <th>
           <mfDefaultSorter by="name">Name</mfDefaultSorter>
       </th>
       <th><mfDefaultSorter by="email">Type</mfDefaultSorter></th>
       <th><mfDefaultSorter by="phone">Contact</mfDefaultSorter></th>
       <th><mfDefaultSorter by="gender">Email</mfDefaultSorter></th>
       <th><mfDefaultSorter by="username">City</mfDefaultSorter></th>
       <th>Action</th>
   </tr>
</thead>
<tbody>
    <tr *ngFor="let ngos of mf.data">
       <td>
        <div class="media">
            <img class="img-responsive img-circle" src="assets/img/user/01.jpg" alt="Image" />
        </div>
    </td>
    <td>{{user.first_name + ' '+  user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.username}}</td>
    <td>
       <a class="btn btn-info btn-xs" type="button" title="Show">
        <em class="fa fa-eye"></em>
    </a>
    <button class="btn btn-success btn-xs" title="Edit">
        <span class="fa fa-pencil"></span>
    </button>
    <button class="btn btn-danger btn-xs" title="Remove">
        <span class="fa fa-times"></span>
    </button>
</td>
</tr>
</tbody>

<tfoot>
    <tr>
        <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
    </tr>
</tfoot>
</table>
</div>
</div>