<div class="content-heading">Contact
	<small></small>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6"><button (click)="goBack()" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-arrow-left" _ngcontent-c49=""></i></span>Back</button></div>
			<div class="col-md-6"><a routerLink="/formgroup/newcontact" class="btn btn-info pull-right"> New contact <i class="fa fa-arrow-right"></i></a></div>
		</div>
	</div> 

	<div class="panel-body"> 
		<table class="table">
			<thead> 
				<tr>
					<th>Contact Name</th>
					<th>Phone</th>
					<th>Cell</th>
					<th>Email</th>
					<th>Skype</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hell dos Santos</td>
					<td>Male</td>
					<td>122343</td>
					<td>12/05/1990</td>
					<td>Cape Town</td>
					<td>
					<a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-pencil"></span></a>
					<a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>