<div class="content-heading">Navigator
	<small>Tree Project Navigator</small>
</div>

<div class="panel panel-primary">

	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">

				<button (click)="goBack()" class="btn btn-labeled btn-info"><span class="btn-label"><i class="fa fa-arrow-left" _ngcontent-c49=""></i></span>Back</button> &nbsp;&nbsp;&nbsp;
				<button class="btn btn-info">Organise List</button>
			</div>
			<div class="col-md-6"><button class="btn btn-info">Enable Preview</button> <div class="form-group pull-right">
			</div></div>
		</div> 
	</div> 

	<div class="panel-body"> 
		
		<p-treeTable [value]="data">
			<p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
		</p-treeTable>

	</div>

</div>