<div class="content-heading">Forms
	<small></small>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
	FormsGroup
	</div> 
	<div class="panel-body">
		<div class="col-md-8 col-md-offset-2">
			<ul class="list-group text-center">
				<li class="list-group-item"  routerLink="/formgroup/farmer">Farmer Form</li>
				<li class="list-group-item" routerLink="/formgroup/farm">Farm Form</li>
				<li class="list-group-item" routerLink="/formgroup/ngos">NGOS Form</li>
				<li class="list-group-item" routerLink="/formgroup/sponsors">Sponsor Form</li>
				<li class="list-group-item" routerLink="/formgroup/contact">Contact Form</li>
				<li class="list-group-item" routerLink="/formgroup/address">Address Form</li>
			</ul>
		</div>
	</div>
</div>

