<div class="content-heading">Clients
	<small></small>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6"><h4>Clients</h4></div>
			<div class="col-md-6"><a routerLink="/clients/addclient" class="btn btn-success pull-right"> New Client</a></div>
		</div>
	</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Long Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Hansen</td>
					<td>Leonel</td>
					<td><a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-pencil"></span></a>
						<a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-share-alt"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>