<div class="content-heading">Clients
	<small></small>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6"><h4>Clients</h4></div>
			<div class="col-md-6"><a routerLink="/clients/addclient" class="btn btn-info pull-right"> New Client <i class="fa fa-arrow-right"></i></a></div>

		</div>
	</div>

	<div class="panel-body">
		<table class="table text-center">
			<thead>
				<tr class="text-center">
					<th>Client Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Contact Person</th>
					<th>Address</th>
					<th>Town</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let client of data">
					<td>{{client.short_name}} {{client.long_name}}</td>
					<td>{{client.email}}</td>
					<td>{{client.phone}}</td>
					<td>{{client.contact_person_fname}} {{client.contact_person_lname}}</td>
					<td>{{client.adress_id}}</td>
					<td></td>
					<td><a href="" class="btn btn-default bg-gray-lighter tbn-xs"><span class="icon-pencil"></span></a>

						<div class="btn-group" dropdown>
							<button class="btn btn-default bg-gray-lighter" dropdownToggle>Options <b class="caret"></b> 
							</button>
							<ul *dropdownMenu class="dropdown-menu animated fadeInDown" role="menu">
								<li><a href="#">Products & Questions</a></li>
								<li><a href="#">Users</a></li>
								<li><a href="#">Forms</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>